In [1]:
# Pyber Challenge

In [2]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

In [3]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [4]:
## Deliverable 1: Get a Summary DataFrame
#  1. Get the total rides for each city type

In [10]:
# Urban total rides
urban_ride_count = pyber_data_df[pyber_data_df["type"] == "Urban"].count()["ride_id"]
urban_ride_count

1625

In [12]:
# Suburban total rides
suburban_ride_count = pyber_data_df[pyber_data_df["type"] == "Suburban"].count()["ride_id"]
suburban_ride_count

625

In [13]:
# Rural total rides
rural_ride_count = pyber_data_df[pyber_data_df["type"] == "Rural"].count()["ride_id"]
rural_ride_count

125

In [14]:
# 2. Get the total drivers for each city type

In [16]:
# Urban total drivers
urban_drivers = pyber_data_df[pyber_data_df["type"] == "Urban"].sum()["driver_count"]
urban_drivers

59602

In [17]:
# Suburban total drivers
suburban_drivers = pyber_data_df[pyber_data_df["type"] == "Suburban"].sum()["driver_count"]
suburban_drivers

8570

In [18]:
# Rural total drivers
rural_drivers = pyber_data_df[pyber_data_df["type"] == "Rural"].sum()["driver_count"]
rural_drivers

537

In [19]:
#  3. Get the total amount of fares for each city type

In [20]:
# Urban total fares
urban_fares = pyber_data_df[pyber_data_df["type"] == "Urban"].sum()["fare"]
urban_fares

39854.380000000085

In [21]:
# Suburban total fares
suburban_fares = pyber_data_df[pyber_data_df["type"] == "Suburban"].sum()["fare"]
suburban_fares

19356.330000000013

In [22]:
# Rural total fares
rural_fares = pyber_data_df[pyber_data_df["type"] == "Rural"].sum()["fare"]
rural_fares

4327.930000000002

In [23]:
#  4. Get the average fare per ride for each city type.

In [26]:
# Average urban fare per ride
urban_avg_fare = urban_fares / urban_ride_count
urban_avg_fare

24.52577230769236

In [29]:
# Average suburban fare per ride
suburban_avg_fare = suburban_fares / suburban_ride_count
suburban_avg_fare

30.97012800000002

In [30]:
# Average rural fare per ride
rural_avg_fare = rural_fares / rural_ride_count
rural_avg_fare

34.623440000000016

In [ ]:
# 5. Get the average fare per driver for each city type